.DS_Store
.vscode
.idea
*.swp

.config_dev.json
.config_nat.json
.config_kr.json
.config_clonedb.json
.config.json
ad_hub_config.json

.nyc_output
.scannerwork
coverage
dump.rdb

npm-debug*
node_modules/*
dist/*
public/static/dist/*
tmp/*


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
